**Map Function**

**syntax:** map(function,sequence)

It maps the function with the dataset.
A map has a function and a sequence. map() applies the function to all the elements of the sequence.It returns a new list with the elements changed by the function.

In [1]:
#example

def Fahrenheit(T):
  return ((float(9)/5)*T+32)
def Celsius(T):
  return ((float(5)/9)*(T-32))  

t=[10,22.5,37,100]

In [2]:
a=[]
for i in t:
  a.append(Fahrenheit(i))
a

[50.0, 72.5, 98.60000000000001, 212.0]

In [3]:
#using map function

a=list(map(Fahrenheit,t))
a

[50.0, 72.5, 98.60000000000001, 212.0]

In [4]:
#example 2
def convert(l):
  return l.upper()

l=['abc','xyz','pqr']

In [5]:
a=[]
for i in l:
  a.append(convert(i))  
a

['ABC', 'XYZ', 'PQR']

In [6]:
a=list(map(convert,l))
a

['ABC', 'XYZ', 'PQR']

In [28]:
#using lambda function
list(map(lambda x:x.upper(),l))   #function=lambda x:x.upper()

['ABC', 'XYZ', 'PQR']

In [29]:
#example2

a=[1,2,3,4]
b=[5,6,7,8]

list(map(lambda a,b:a+b,a,b))

[6, 8, 10, 12]

In [30]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]

list(map(lambda a,b,c:a+b+c,a,b,c))

[15, 18, 21, 24]

In [31]:
a=iter(range(5))

In [33]:
print(next(a))

1

In [34]:
def add(m,n):
  return m+n

In [37]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]

list(map(add,a,b))

[6, 8, 10, 12]

**Reduce Function**

**syntax:** reduce(function,sequence)

It applies the function to the sequence and returns a single value.

In [39]:
from functools import reduce
lst=[49,564,267,56,8]
reduce(lambda x,y:x+y,lst)

944

In [52]:
#myreduce function

print('Input')
n=int(input('Enter a number:'))
num_list=list(range(1,n+1))
def myreduce(n):
  sum_of_elements=0
  for i in num_list:
    sum_of_elements=sum_of_elements+i
  return sum_of_elements 

sum_of_elements=myreduce(n)

print('Output')
print('List of numbers:',num_list)
print('Sum of list of numbers:',sum_of_elements)

Input
Enter a number:20
Output
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of list of numbers: 210

In [54]:
reduce(lambda x,y:x+y,num_list)

210

In [59]:
#find the maximum of a sequence
lst=[47,11,42,13,78]
max_find=lambda x,y:x if x>y else y
max_find

In [60]:
reduce(max_find,lst)

78

In [58]:
min_find=reduce(lambda a,b:a if a<b else b,lst)
min_find

11

**Filter Function**

**syntax:** filter(function,sequence)


filter a list of numbers.

In [69]:
def is_even(n):
    if n%2==0:
      return True
    else:
      return False

In [70]:
lst=range(20)
list(filter(is_even,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [71]:
list(filter(lambda x:x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
def myfilter(n):
  print('Input')
  n=int(input('Enter a number:'))
  num_list=list(range(1,n+1))
  even_list=[]
  odd_list=[]
  for i in num_list:
    if i%5==0:
      if i%2==0:
        even_list.append(i)
      else:
        odd_list.append(i)
        
  return even_list,odd_list   

even_list,odd_list=myfilter(n) 

print('Output')
print('List of even numbers:',even_list)
print('List of odd numbers:',odd_list)

Input
Enter a number:50
Output
List of even numbers: [10, 20, 30, 40, 50]
List of odd numbers: [5, 15, 25, 35, 45]

In [105]:
#using in built filter function

n=int(input('Enter a number:'))
num_list=list(range(1,n+1))

even_list=list(filter(lambda x:x%2==0,list(filter(lambda x:x%5==0,num_list))))
odd_list=list(filter(lambda x:x%2!=0,list(filter(lambda x:x%5==0,num_list))))

print(even_list)
print(odd_list)

Enter a number:50
[10, 20, 30, 40, 50]
[5, 15, 25, 35, 45]