1. 1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [ ]:
#Built In reduce() function

print('Input')
n=int(input('Enter a number:'))
num_list=list(range(1,n+1))
from functools import reduce 
sum=reduce(lambda x,y:x+y,num_list)
print('Output')
print('List of natural numbers',num_list)
print('Sum of list of elements',sum)

Input
Enter a number:20
Output
List of natural numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of list of elements 210

MyReduce()

In [ ]:
def myreduce(n):
  print('Input')
  n=int(input('Enter a number: '))
  num_list=list(range(1,n+1))
  sum_of_elements=0
  for i in num_list:
    sum_of_elements=sum_of_elements+i
  return num_list,sum_of_elements

output=myreduce(n)
print('Output')
print('List of natural numbers: ',output[0])
print('Sum of list of elements: ',output[1])

Input
Enter a number: 20
Output
List of natural numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of list of elements:  210

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [ ]:
#Built in Filter() function

print('Input')
n=int(input('Enter a number: '))
num_list=list(range(1,n+1))
even_list=[]
odd_list=[]
even_list=list(filter(lambda i:i%2==0,filter(lambda i:i%5==0,num_list)))
odd_list=list(filter(lambda i:i%2!=0,filter(lambda i:i%5==0,num_list)))

print('Output')
print('List of even numbers:',even_list)
print('List of odd numbers:',odd_list)

Input
Enter a number: 30
Output
List of even numbers: [10, 20, 30]
List of odd numbers: [5, 15, 25]

MyFilter()

In [ ]:
print('Input')
n=int(input('Enter a number:' ))
num_list=list(range(1,n+1))
def myfilter(num_list):
  even_list=[]
  odd_list=[]
  for i in num_list:
    if i%5==0:
      if i%2==0:
        even_list.append(i)
      else:
        odd_list.append(i)
  return even_list,odd_list

output=myfilter(num_list)

print('Output')
print('List of even numbers:',output[0])
print('List of odd numbers:',output[1])

Input
Enter a number:30
Output
List of even numbers: [10, 20, 30]
List of odd numbers: [5, 15, 25]

2.Write List comprehensions to produce the following Lists

2.1. **['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']**

In [ ]:
word=list('xyz')
[i*j for i in word for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

2.2 **['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']**

In [ ]:
word=list('xyz')
[j*i for j in range(1,5) for i in word]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

2.3 **[[2], [3], [4], [3], [4], [5], [4], [5], [6]]**

In [ ]:
number=[2,3,4]
[[i+j] for i in range(0,3) for j in number]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

**`2.4. [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]] `**

In [ ]:
number=[2,3,4,5]
[[i+j for i in range(0,4)] for j in number]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

**2.5. [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]**

In [ ]:
number=[1,2,3]

[(j,i) for i in range(1,4) for j in number]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]